@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Red Rose', cursive;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d8d8d8), to(white));
  background-image: linear-gradient(0deg, #d8d8d8, white);
  background-attachment: fixed;
}

.navbar {
  background-color: #0D0D0D;
}

#navbar1 {
  background-color: #BF2C1F;
}

#navbar1 .navbar-toggler {
  background-color: black;
}

#navbar1 .nav-link {
  color: white;
  margin: 15px;
}

/* MENU PRINCIPAL CON LOGO Y BARRA BUSCADOR*/
.header {
  background-color: #0D0D0D;
  color: white;
}

.header h1 {
  color: white;
}

/*IMAGEN PRINCIPAL DE INICIO*/
#imagen-Principal {
  background-image: url(../recursos/fondo-pantalla-principal.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "vacio1 titulo1 vacio2" "vacio1 titulo vacio2" "vacio1 texto vacio2";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  color: white;
  margin: auto;
}

/* TITULO IMAGEN PRINCIPAL DE INICIO*/
#titulo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: titulo;
  font-size: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 30px;
}

/*PARRAFO IMAGEN PRINCIPAL DE INICIO*/
#texto {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: texto;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/*CAJAS DE INGRESOS Y POSICIONES NUEVOS INICIO*/
.ingresos {
  background-color: #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  margin: 15px 15px;
}

@media (max-width: 767px) {
  .ingresos {
    width: 200px;
  }
}

.ingresos__nuevo {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  height: 100%;
}

@media (max-width: 767px) {
  .ingresos__nuevo {
    width: 374px;
  }
}

@media (min-width: 1200px) {
  .ingresos__nuevo {
    width: 250px;
  }
}

.ingresos__img {
  width: 600px;
  max-width: 100%;
}

.ingresos__contenido {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
  font-size: 16px;
  text-align: center;
}

/*FIN CAJAS DE INGRESOS Y POSICIONES NUEVOS INICIO*/
/*PRODUCTOS*/
.card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 500px;
  margin: 10px 10px;
}

.card img {
  width: 60%;
}

/* PESTAÑA AYUDA Y CONTENIDO*/
.accordion {
  margin: 40px 40px;
}

.accordion-item {
  padding: 20px;
}

.accordion-body p {
  color: red;
  font-size: 20px;
}

/*PESTAÑA CONTACTO Y CONTENIDO*/
/*IMAGEN PRINCIPAL DE CONTACTO*/
#imagen-Contacto {
  background-image: url(../recursos/fondo-contacto.jfif);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "vacio3 contacto vacio4" "vacio3 contacto1 vacio4" "vacio3 texto1 vacio4";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  color: white;
  margin: auto;
}

#cajacontacto {
  width: 100%;
  border: none;
}

.form label {
  font-size: 13px;
  margin-left: 2px;
}

.form-control {
  height: 45px;
  border: 2px solid #BF2C1F;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #BF2C1F;
}

.phone {
  position: relative;
}

.phone input {
  padding-left: 29px;
}

.phone i {
  position: absolute;
  top: 17px;
  left: 10px;
  color: #BF2C1F;
}

.button {
  height: 50px;
  background-color: #BF2C1F;
}

.button:hover {
  background-color: #BF2C1F;
}

#contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contacto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 200px;
}

/*SUBTITULO IMAGEN PRINCIPAL DE CONTACTO*/
#contacto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: contacto1;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/*PARRAFO IMAGEN PRINCIPAL DE INICIO*/
#texto1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: texto1;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
}

/*DISEÑO DE FOOTER*/
.footer-dark {
  background-color: #BF2C1F;
}

.footer-dark a {
  text-decoration: none;
}

.footer-dark__item {
  text-align: center;
  padding-bottom: 20px;
}

.footer-dark__copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.footer-dark__text {
  margin-bottom: 36px;
  text-align: center;
  padding-bottom: 20px;
}

.footer-dark__text p {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */