*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    
    font-family: 'Red Rose', cursive;
    background-image: linear-gradient(0deg, #d8d8d8, white );
    background-attachment: fixed;
    h2{
        margin: 15px;
    
    }
}

.navbar{
    background-color: #0D0D0D;
    
}

#navbar1 {
    background-color: #BF2C1F;
    .navbar-toggler{
        background-color: black;
    }
    .nav-link{
        color: white;
        margin: 15px;
    }
}
/* MENU PRINCIPAL CON LOGO Y BARRA BUSCADOR*/

.header{
    background-color: #0D0D0D;
    color: white;
    h1{
        color: white;
    }
}

/*IMAGEN PRINCIPAL DE INICIO*/
#imagen-Principal{
    
    background-image: url(../recursos/fondo-pantalla-principal.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: grid;
    grid-template-areas:
        "vacio1 titulo vacio2"
        "vacio1 texto vacio2"
        "vacio1 vacio3 vacio2";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: white; 
    margin: auto;
    #titulo{
        grid-area: titulo;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 70px;
        justify-content: center;
        text-align: center;
        margin-top: 200px;
    }
    #texto{
        grid-area: texto;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    
    
}
/* TITULO IMAGEN PRINCIPAL DE INICIO*/

/*PARRAFO IMAGEN PRINCIPAL DE INICIO*/


/*CAJAS DE INGRESOS Y POSICIONES NUEVOS INICIO*/
.ingresos{
    background-color: rgb(235, 232, 232);
}
/*
/*FIN CAJAS DE INGRESOS Y POSICIONES NUEVOS INICIO*/

                /*PRODUCTOS*/

.card{
    justify-content: center;
    text-align: center;
    height: 500px;
    margin: 10px 10px;
    img{
        width: 60%;
    }
}

                    /* PESTAÑA AYUDA Y CONTENIDO*/
.accordion{
    margin: 40px 40px;
}
.accordion-item{
    padding: 20px;
}
.accordion-body{
    p{
        color: red;
        font-size: 20px;
    }
}
                    /*PESTAÑA CONTACTO Y CONTENIDO*/

                    /*IMAGEN PRINCIPAL DE CONTACTO*/
#imagen-Contacto{
    background-image: url(../recursos/fondo-contacto.jfif);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: grid;
    grid-template-areas:
        "vacio3 contacto vacio4"
        "vacio3 contacto1 vacio4"
        "vacio3 texto1 vacio4";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: white; 
    margin: auto;
    #contacto{
        grid-area: contacto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 70px;
        justify-content: center;
        text-align: center;
        margin-top: 200px;    
    }
    #contacto1{
        grid-area: contacto1;
        font-size: 15px;
        justify-content: center;
        text-align: center;
    }
    #texto1{
        grid-area: texto1;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        margin-top: 50px; 
    }
}

            /*IMAGEN PRINCIPAL DE CONTACTO*/

            /*CUADRO DE FORMULARIO*/

.form label {
    font-size: 13px;
    margin-left: 2px
}

.form-control {
    height: 45px;
    border: 2px solid #BF2C1F
}


.form-control:focus {
    box-shadow: none;
    border: 2px solid #BF2C1F
}

.phone {
    position: relative
    input {
        padding-left: 29px
    }
}


.phone i {
    position: absolute;
    top: 17px;
    left: 10px;
    color: #BF2C1F
}

.button {
    height: 50px;
    background-color: #BF2C1F
}

.button:hover {
    background-color: #BF2C1F
}

            /*FINAL CUADRO DE FORMULARIO*/

            /*DISEÑO DE FOOTER*/

.footer-dark{
    background-color:#BF2C1F ;
    a{
        text-decoration: none;
    }
    &__item {
        text-align:center;
        padding-bottom:20px;
    }
    &__copyright {
        text-align:center;
        padding-top:24px;
        opacity:0.3;
        font-size:13px;
        margin-bottom:0;
    }
    &__text{
        margin-bottom:36px;
        text-align:center;
        padding-bottom:20px;
        p{
            margin-bottom: 0;
        }
    
    }
}
@media (max-width:767px) {
    .footer-dark .item.text {
    margin-bottom:0;
    }
}

            /*FINAL DISEÑO DE FOOTER*/

